@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  border: none;
  margin: 0;
  padding: 0;
}

.background {
  background-color: #24b374;
  width: 100vw;
  min-height: 100vh;
}

.background svg {
  position: absolute;
  right: 0;
  margin: 10px;
}

.background .content .title h1 {
  text-align: center;
  color: #e8e9e6;
  font-family: "Catamaran", sans-serif;
  text-transform: uppercase;
  padding-top: 30px;
  font-size: 60px;
  letter-spacing: 10px;
  font-weight: 100;
}

@media (max-width: 1000px) {
  .background .content .title h1 {
    text-align: left;
    padding: 50px 10px 0;
    font-size: 20px;
    letter-spacing: 1px;
  }
}

.background .content .content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 90%;
  margin: 100px auto 0;
}

@media (max-width: 1000px) {
  .background .content .content-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.background .content .science-container,
.background .content .nature-container,
.background .content .video-container {
  width: 350px;
  height: 480px;
  padding: 25px;
  margin: 0 20px 0;
}

@media (max-width: 1000px) {
  .background .content .science-container,
  .background .content .nature-container,
  .background .content .video-container {
    width: 80%;
    height: 480px;
    margin: 0 auto;
  }
}

.background .content .science-container .top,
.background .content .nature-container .top,
.background .content .video-container .top {
  margin-bottom: 30px;
}

.background .content .science-container h2,
.background .content .science-container h3,
.background .content .nature-container h2,
.background .content .nature-container h3,
.background .content .video-container h2,
.background .content .video-container h3 {
  color: #dfa34e;
}

.background .content .science-container h2,
.background .content .nature-container h2,
.background .content .video-container h2 {
  font-size: 20px;
  line-height: 2;
}

@media (max-width: 1000px) {
  .background .content .science-container h2,
  .background .content .nature-container h2,
  .background .content .video-container h2 {
    font-size: 18px;
  }
}

.background .content .science-container h3,
.background .content .nature-container h3,
.background .content .video-container h3 {
  font-size: 25px;
  font-weight: 400;
}

@media (max-width: 1000px) {
  .background .content .science-container h3,
  .background .content .nature-container h3,
  .background .content .video-container h3 {
    font-size: 21px;
  }
}

.background .content .science-container p,
.background .content .nature-container p,
.background .content .video-container p {
  width: 90%;
  line-height: 1.7;
}

.background .content .science-container,
.background .content .video-container {
  background-color: #1f1c1c;
}

.background .content .science-container {
  color: #e8e9e6;
}

.background .content .science-container h2 {
  width: 50%;
}

.background .content .nature-container {
  background-color: #e8e9e6;
}

.background .content .video-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.background .content .video-container svg {
  width: 140px;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: 70px;
}

.background .under {
  color: #dfa34e;
  font-weight: 700;
}

@media (max-width: 1000px) {
  .background .under {
    margin-left: 40px;
  }
}
/*# sourceMappingURL=style.css.map */